@media screen and (max-width: 600px) {
    .nav-links {
        display: none;
    }

    .ham-burger {
        display: block;
        font-size: 26px;
    }

    .logo {
        height: 45px;
        width: 40px;
    }

    h3 {
        font-size: 26px;
    }

    .container {
        margin: 3rem auto;
    }

    p {
        font-size: 14px;
    }

    .explore-container h3 {
        font-size: 26px;
    }

    .explore-container p {
        width: 90%;
    }

    .travel-inputs {
        flex-direction: column;
        width: 70%;
        margin: auto;
    }

    .travel-inputs input,
    .travel-inputs select,
    .travel-inputs button {
        width: 100%;
        margin: 1rem 0;
    }

    .popular-section,
    .row-1,
    .row-2,
    .row-3 {
        grid-template-columns: 1fr;
    }
    .popular-section img {
        height: 100%;
        width: 100%;
    }

    footer p {
        font-size: 14px;
        height: 100px;
        width: 300px;
    }
}